@media only screen {
	.footer{
		background-color: $footergrey;
		padding: 20px;
		text-align: center;
		@include font-size(12);
	}
	.footer-contact{
		font-size: 28px;
		margin-bottom: 40px;
		a{
			display: inline-block;
			color: $olive;
			font-size: 16px;
		}
	}
}

@media only screen and (min-width: $medium){
	.footer{
		@include font-size(14);
	}
}

@media only screen and (min-width: $large){

}