@media only screen {
	.mobilenavtoggle{
		@include font-size(32);
		position: fixed;
		top: 20px;
		right: 26px;
		z-index: 100;
	}
	.nav{
		padding: 20px;
		box-sizing: border-box;
		@include centerer;
		position: fixed;
		display: none;
		z-index: 100;
	}
	.navtint{
		background-color: rgba($spruce, 0.8);
		width: 100vw;
		height: 100vh;
		position: fixed;
		top: 0; 
		left: 0;
		z-index: 99;
		display: none;
	}
	.nav--visible{
		display: block;
		&~.navtint{
			display: block;
		}
	}
	.nav-logocontainer,
	.nav-logocontainer-logo{
		display: inline-block;
	}
	.nav-logocontainer{
		margin: 0 auto;
		position: relative;
		left: 50%;
		@include transform(translateX(-50%));
	}
	.nav-logocontainer-logo{
		width: 75vw;
		max-width: 440px;
	}
	.nav-itemcontainer{
		padding: 20px 0;
	}
	.nav-itemcontainer-item{
		display: block;
		text-align: center;
		padding: 10px 0;
		text-transform: uppercase;
		text-decoration: none;
		color: $olive;
		@include font-size(18);
	}
	.nav-socialcontainer{
		text-align: center;
	}
	.nav-socialcontainer-item{
		text-decoration: none;
		display: inline-block;
		padding: 0 20px 10px 20px;
	}
	.nav-socialcontainer-item-image{
		width: 50px;
		height: 50px;
	}
	.nav-cell{
		text-align: center;
		margin-top: 20px;
		font-size: 23px;
		a{
			color: $olive;
			text-decoration: none;
		}
	}
	.nav-desktopitems{
		display: none;
	}
}

@media only screen and (min-width: $medium){
	.mobilenavtoggle{
		@include font-size(48);
	}
	.hero-mobile-skills-item{
		@include font-size(21);
	}
	.nav-itemcontainer{
		padding: 30px 0;
	}
	.nav-itemcontainer-item{
		@include font-size(28);
		padding: 15px 0;
	}
	.nav-socialcontainer-item-image{
		width: 80px;
		height: 80px;
	}
}

@media only screen and (min-width: $large){
	.mobilenavtoggle{
		display: none;
	}
	.nav{
		display: inline-block;
		top: 0;
		left: 50%;
		width: 1024px;
		@include transform(translate(-50%,0));
		padding: 20px 0;
	}
	.nav-cell{
		text-align: right;
		position: relative;
		z-index: 2;
	}
	.nav-logocontainer{
		display: inline-block;
		left: 0;
		top: 0;
		@include transform(translate(0,0));
	}
	.nav-logocontainer-logo{
		height: 40px;
		width: auto;
	}
	.nav-socialcontainer{
		display: inline-block;
		float: right;
	}
	.nav-socialcontainer-item{
		padding: 0;
		opacity: 0.75;
		@include transition(opacity 0.5s ease);
		&:hover{
			opacity: 1;
		}
	}
	.nav-socialcontainer-item-image{
		width: 40px;
		height: 40px;
		margin: 0 0 0 10px;
	}
	.nav-itemcontainer{
		display: none;
	}
	.nav-desktopitems{
		display: block;
		position: fixed;
		left: 50%;
		width: 1024px;
		@include transform(translateX(-50%));
		@include transition(opacity 0.25s ease);
		opacity: 0.75;
	}
	.nav-desktopitems--off{
		opacity: 0;
	}
	.nav-desktopitems-item{
		display: block;
		text-transform: uppercase;
		margin: 20px 0;
		@include font-size(17);
		letter-spacing: 1px;
	}
	.navtint{
		display: block;
		position: fixed;
		left: 0;
		top: 0;
		height: 124px;
		@include transition(background-color 0.25s ease);
		background-color: rgba(0,0,0,0);
	}
	.navtint--on{
		background-color: rgba($spruce, 0.8);
	}
}