@media only screen {
	.about{
		background-repeat: no-repeat;
		background-position: 80% 50%;
		background-size: cover;
		position: relative;
	}
	.about-header,
	.about-content,
	.about-hirebutton{
		position: relative;
		z-index: 1;
	}
	.about-content{
		line-height: 22px;
		margin-bottom: 40px;
		p{
			margin: 15px 0;
		}
	}
	.about-tint{
		// background-color: $g;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
	}
	.about-hirebutton{
		text-decoration: none;
		color: white;
		text-transform: uppercase;
		background-color: $drewblue;
		text-align: center;
		width: 100%;
		display: inline-block;
		max-width: 240px;
		padding: 15px;
		box-sizing: border-box;
		font-family: $headerfontfamily;
		letter-spacing: 2px;
		@include font-size(18);
	}
}

@media only screen and (min-width: $medium){
	.about-content{
		line-height: 24px;
		// @include font-size(18);
	}
}

@media only screen and (min-width: $large){
	.about-tint{
		// background-color: rgba(0,0,0,0.5);
	}
	.about-hirebutton{
		@include button-tint;
	}
}