@media only screen {
	.hero{
		position: relative;
	}
	.hero-mobile{
		position: absolute;
		top: 23.5px;
		left: 20px;
		z-index: 10;
	}
	.hero-mobile-logo{
		width: 75vw;
		max-width: 200px;
	}
	.hero-mobile-skills{
		margin-top: 0px;
	}
	.hero-mobile-skills-item{
		text-transform: uppercase;
		padding: 3px 0;
		letter-spacing: 2px;
	}
	.hero-ctacontainer{
		position: absolute;
		bottom: 0px;
		left: 0px;
		padding: 20px;
		box-sizing: border-box;
		width: 100%;
	}
	.hero-ctacontainer-copy{
		margin-bottom: 20px;
		font-size: 30px;
		line-height: 1.25;
		max-width: $large;
		margin-left: auto;
		margin-right: auto;
	}
	.hero-ctacontainer-cta{
		background-color: $sahara;
		border-radius: 70px;
		padding: 20px 25px;
		letter-spacing: 1px;
		display: inline-block;
		text-transform: uppercase;
		font-size: 14px;
		cursor: pointer;
		transition: background-color 0.4s ease;
		&:hover{
			background-color: darken($sahara, 6%);
		}
	}
	
	.hero-videocontainer{
		background-color: rgba($beige, 0.54);
	    width: 100vw;
	    height: 100vh;
	}
	.hero-videocontainer-video{
		min-width: 100%;
	    min-height: 100%;
	    width: auto;
	    height: auto;
	    position: fixed;
	    top: 50%;
	    left: 50%;
	    z-index: -100;
	    @include transform(translate(-50%, -50%));
	}
	.hero-itemcontainer{
		display: none;
	}
}

@media only screen and (min-width: $medium){
	.hero-ctacontainer-copy{
		font-size: 50px;
		line-height: 1.5;
	}
	.hero-mobile-logo{
		max-width: 440px;
	}
	.hero-ctacontainer-cta{
		font-size: 18px;
		padding: 20px 45px;
	}
}

@media only screen and (min-width: $large){
	.hero-mobile{
		display: none;
	}
	.hero-ctacontainer{
		top: 60vh;
		left: 50%;
		text-align: center;
		transform: translate(-50%, -50%);
	}
	.hero-itemcontainer{
		display: block;
		position: absolute;
		width: auto;
		padding-bottom: 20px;
		bottom: 0;
		left: calc(calc( 100% - 1024px ) / 2);
		height: 41px;
		z-index: 100;
	}
	.hero-itemcontainer--sticky{
		position: fixed;
		top: 83px;
	}
	.hero-itemcontainer-item{
		@include font-size(21);
		color: $olive;
		text-transform: uppercase;
		text-decoration: none;
		margin-right: 30px;
		letter-spacing: 1px;
		opacity: 0.75;
		@include transition(opacity 0.5s ease);
		&:hover{
			opacity: 1;
		}
	}
	.hero-videocontainer{
		// background-color: rgba(darken(hsl(182,100,61), 45%), 0.55);
	}
}