@media only screen {
	.hire{
		background-color: $grey;
	}
	.hire-subheader{
		@include font-size(18);
		line-height: 1.5;
		padding-bottom: 40px;
	}
	.hireform-input,
	.hireform-textarea{
		width: 100%;
	    padding: 10px;
	    box-sizing: border-box;
	    font-size: 15px;
	    margin: 5px 0;
	    background-color: rgba(255,255,255,0.9);
	    border: 0;
	    font-family: $bodyfontfamily;
	    @include placeholder{
	    	color: grey;
	    }
	}
	.hireform-submit{
		text-transform: uppercase;
	    background-color: $drewblue;
	    border: 0;
	    width: 100%;
	    padding: 10px;
	    @include font-size(18);
	    letter-spacing: 2px;
	    color: white;
	    font-family: $headerfontfamily;
	}
	div.wpcf7-response-output{
		margin: 20px 0;
		padding: 10px;
		line-height: 24px;
		text-align: center;
	}
	div.wpcf7-validation-errors{
		border: 0;
		background-color: $error;
	}
	div.wpcf7-mail-sent-ok{
		border: 0;
		background-color: $success;
	}
	span.wpcf7-not-valid-tip{
		color: $error;
	}
}

@media only screen and (min-width: $medium){
	.hireform-input, .hireform-textarea{
		@include font-size(18);
	}
	.hireform-submit{
		@include font-size(22);
		padding: 16px;
	}
}

@media only screen and (min-width: $large){
	.hire-formcontainer .wpcf7,
	.hire-subheader{
		width: 100%;
	}
	.hireform-submit{
		@include button-tint;
	}
}