@media only screen {
	.testimonials{
		background-color: $grey;
		position: relative;
		background-size: cover;
		background-repeat: no-repeat;
		.google-business-reviews-rating{
			.all-stars{
				width: 5.25em;
			}
			.heading,
			.vicinity,
			.count,
			.author-name a,
			.relative-time-description,
			.text{
				color: white;
			}
			.text a{
				color: $tango;
			}
			.author-name{
				margin-bottom: 10px;
			}
			.listing li{
				margin-top: 20px;
				margin-bottom: 40px;
			}
		}
	}
	.testimonials-tint{
		background-color: rgba(0,0,0,0.5);
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 4;
	}
	.testimonials-header{
		position: relative;
		z-index: 10;
	}
	.testimonials-widget{
		position: relative;
		z-index: 5;
	}
	.wprevpro_t1_SPAN_5{
		color: white;
	}
	.wprevpro_t1_DIV_2{
		background-color: #efefef;
		border-color: #efefef;
		&:after{
			border-top: 30px solid #efefef;
			column-rule-color: #efefef;
			color: #efefef;
		}
	}
	.wprevpro_t1_P_3{
		color: black;
	}
}

@media only screen and (min-width: $medium){
	
}

@media only screen and (min-width: $large){
	
}
