@media only screen {
	.whydrew{
		background-color: black;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		background-color: $grey;
	}
	.whydrew-header{
		position: relative;
		z-index: 1;
		margin-bottom: 40px;
	}
	.whydrew-wysiwyg{
		p{
			line-height: 1.6;
			padding: 5px 0px;
		}
		h1,h2,h3,h4,h5,h6{
			margin: 10px 0px;
		}
	}
	
}

@media only screen and (min-width: $medium){
	.whydrew-list{
		font-size: 0;
		margin: 0 -20px;
	}
	.whydrew-list-item{
		width: calc(50vw - 60px);
		height: calc(50vw - 60px);
		display: inline-block;
		margin: 0 20px 40px 20px;
		&:last-of-type{
			margin-bottom: 20px;
		}
	}
}

@media only screen and (min-width: $large){
	
}