@media only screen {
	.blogwrapper{
		background-color: $grey;
	}
	.blogwrapper-title{
		text-align: center;
		padding-top: 40px;
	}
	.blogwrapper-grid{
		max-width: $medium;
		margin: 0 auto;
		padding: 20px;
	}
	.blogwrapper-grid-item{
		text-decoration: none;
		color: white;
		margin: 20px 0;
		display: block;
		background-color: white;
		color: $footergrey;
		box-shadow: $box-shadow;
	}
	.blogwrapper-grid-item-img{
		height: 200px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 100% auto;
		@include transition(background-size 0.2s ease);
	}
	.blogwrapper-grid-item-text{
		padding: 15px;

	}
	.blogwrapper-grid-item-text-date,
	.blogwrapper-grid-item-text-title{
		margin-bottom: 15px;
	}
}

@media only screen and (min-width: $medium){
	.blogwrapper-grid{
		font-size: 0;
	}
	.blogwrapper-grid-item{
		display: inline-block;
		width: calc(50% - 10px);
		@include font-size(16);
		vertical-align: top;
		&:nth-child(odd){
			margin-right: 10px;
		}
		&:nth-child(even){
			margin-left: 10px;
		}
	}
}
@media only screen and (min-width: $large){
	.blogwrapper-grid{
		position: relative;
		max-width: $large;
	}
	.blogwrapper-grid-item{
		display: inline-block;
		width: calc(calc(100% / 3) - 20px);
		@include font-size(16);
		vertical-align: top;
		&:nth-child(odd){
			margin-right: 10px;
			margin-left: 10px;
		}
		&:nth-child(even){
			margin-left: 10px;
			margin-right: 10px;
		}
		&:hover{
			.blogwrapper-grid-item-img{
				background-size: 130% auto;
			}
		}
	}	
}
