@media only screen {
	.singlepost{
		background-color: $grey;
	}
	.singlepost-wrapper-title{
		padding-top: 40px;
	}
	.singlepost-wrapper{
		max-width: $medium;
		margin: 0 auto;
		padding: 20px;
	}
	.singlepost-wrapper-date{
		margin: 10px 0px 20px 0px;
	}
	.singlepost-wrapper-content{
		p{
			margin-bottom: 10px;
			line-height: 1.6;
		}
		img{
			max-width: 100%;
			height: auto;
			margin: 10px 0px;
		}
	}
}

@media only screen and (min-width: $medium){
	
}
@media only screen and (min-width: $large){

}
