@font-face {
	font-family: 'Questrial';
	src: url('../../library/fonts/Questrial-Regular.eot');
	src: url('../../library/fonts/Questrial-Regular.eot?#iefix') format('embedded-opentype'),
		url('../../library/fonts/Questrial-Regular.woff') format('woff'),
		url('../../library/fonts/Questrial-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Oswald';
	src: url('../../library/fonts/Oswald-Regular.eot');
	src: url('../../library/fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
		url('../../library/fonts/Oswald-Regular.woff') format('woff'),
		url('../../library/fonts/Oswald-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Oswald-Bold';
	src: url('../../library/fonts/Oswald-Bold.eot');
	src: url('../../library/fonts/Oswald-Bold.eot?#iefix') format('embedded-opentype'),
		url('../../library/fonts/Oswald-Bold.woff') format('woff'),
		url('../../library/fonts/Oswald-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Futura';
	src: url('../../library/fonts/FuturaMedium.eot');
	src: url('../../library/fonts/FuturaMedium.eot?#iefix') format('embedded-opentype'),
		url('../../library/fonts/FuturaMedium.woff') format('woff'),
		url('../../library/fonts/FuturaMedium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
