// breakpoints

$medium: 641px;
$large: 1025px;

// fonts
$bodyfontfamily: 'Questrial', 'Helvetica', sans-serif;
$headerfontfamily: 'Oswald', 'Impact', sans-serif;
$box-shadow: 0 3px 15px rgba(0,0,0,0.3);

// colors
$drewblue: #00969d;
$grey: #828587;
$lightgrey: #a3a6a8;
$footergrey: #3f403f;
$error: #e91e63;
$success: #009d46;
$sahara: #bea210;
$tango: #e7711b;
$spruce:  #1B4334;
$ginger: #b88c9b;
$beige: #f5f5dc;
$slate: #1C4E6E;
$olive: #7F7C31;

// droo cooloors
$sand: #F8AC71;
$yellow: #d6e617;
$droo: #064e53;