//////////////////////////
// global & reset stuff //
//////////////////////////

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');

@import "lity.min", "fonts", "flexbox", "vars", "mixins";

html,body{
	width: 100%;
	height: 100%;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
html{
	font-size: 62.5%; // base 10 for fonts
	background-color: black;
	color: white;
}
body{
	font-size: 1.6rem;
	font-family: $bodyfontfamily;
	* {
		color: $olive;
	}
}
h1{
	font-family: $headerfontfamily;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}




@media only screen {
	input, textarea{
		outline-color: $drewblue;
	}
	.section{
		position: relative;
		padding: 40px 20px;
		box-sizing: border-box;
		&:nth-child(odd){
			background-color: $slate;
		}
		&:nth-child(even){
			background-color: $ginger;
		}
	}
	.sectionheader{
		font-family: $headerfontfamily;
		text-transform: uppercase;
		@include font-size(32);
		letter-spacing: 2px;
		&:after{
			content: '';
			border-bottom: 5px solid $drewblue;
			width: 100px;
			height: 1px;
			display: block;
			margin-bottom: 40px;
		}
	}
}

@media only screen and (min-width: $medium){
	.section{
		padding: 40px;
	}
	.sectionheader{
		@include font-size(40);
		&:after{
			width: 140px;
		}
	}
	.lity-close{
		top: 20px;
		right: 20px;
	}
}

@media only screen and (min-width: $large){
	.section-wrapper{
		margin: 40px auto 80px auto;
		max-width: 1024px;
	}
}



@import "parts/nav";
@import "sections/hero";
@import "sections/hire";
@import "sections/whydrew";
@import "sections/testimonials";
@import "sections/about";
@import "parts/footer";

@import "pages/blog";
@import "pages/single";






